/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@200&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/container.css");
@import url("components/card.css");
@import url("components/btn.css");
@import url("components/banner.css");
@import url("components/footer.css");


/* Utilities */
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4 {
  font-family: 'Press Start 2P', cursive;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.title-center{
  text-align: center;
}
