.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  height: 230px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.1);
}

.card img {
    height: 100px;
}

.card h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.card p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}
